@import "src/app/styles/reset";
@import "src/app/styles/variables/global";
@import "src/app/styles/themes/normal";
@import "src/app/styles/themes/dark";


body {
  font: var(--font-m);
  font-family: var(--font-family-main);
  color: var(--inverted-primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.app_redesigned {
  background: var(--bq-redesigned);
  min-height: 100vh;
  font: var(--font-m-redesigned);
  color: var(--primary-color);
}

.content-page{
  display: flex;
}

*::-webkit-scrollbar {
  width: 8px;                        /* ширина scrollbar */
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 3px solid var(--primary-color);  /* padding вокруг плашки */
}
