.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.menu {
  border-radius: 18px;
  border: 1px solid var(--accent-redesigned);
  padding: 8px 16px;
}

.topRight {
  bottom: 100%;
  left: 0;
}

.topLeft {
  bottom: 100%;
  right: 0;
}

.bottomRight {
  top: 100%;
  left: 0;
}

.bottomLeft {
  top: 100%;
  right: 0;
}
