@import "../../styles/popup.module";

.ListBox {
  position: relative;
}

.options {
  position: absolute;
  z-index: 1000;
  background: var(--dark-bg-redesigned);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--dark-bg-redesigned);
}

.top {
  bottom: 100%;
}

.item {
  padding: 10px 20px;
}

