@import "../../styles/popup.module";

.options {
  position: absolute;
  z-index: 100;
  background: var(--dark-bg-redesigned);
  box-shadow: 4px 4px 8px var(--dark-bg-redesigned);
  border-radius: 20px;
}

.active {
  background: var(--light-bg-redesigned);
}

.selected {
  background: var(--light-bg-redesigned);
}

.top {
  bottom: 100%;
}

.item {
  padding: 10px 20px;
}

