.Skeleton {
  width: calc(100vh - var(--navbar-height));
  position: relative;
  overflow: hidden;

  .image {
    height: 100%;
    background: #eee;
    background: linear-gradient(90deg, var(--inverted-secondary-color) 0%, var(--inverted-primary-color) 50%, var(--inverted-secondary-color) 100%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 2s shine linear infinite;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
