.app_dark_theme {
  --bg-color: #441842;
  --inverted-bg-color: #9a2243;
  --primary-color: #FBF4F6;
  --secondary-color: #FBF4F6;
  --inverted-primary-color: #e07ee0;
  --inverted-secondary-color: #e835af;

  // card
  --card-bg: #883185;

  // listbox
  --listbox-bg: #883185;
}
