.app_dark_theme {
  --bg-color: #441842;
  --inverted-bg-color: #612239;
  --primary-color: #FBF4F6;
  --secondary-color: #FBF4F6;
  --inverted-primary-color: #702a6d;
  --inverted-secondary-color: #852f4f;

  // card
  --card-bg: #883185
}
