.app_dark_theme {
  --bg-color: #441842;
  --inverted-bg-color: #612239;
  --primary-color: #FBF4F6;
  --secondary-color: #FBF4F6;
  --inverted-primary-color: #fff;
  --inverted-secondary-color: #fff;
}
