:root {
  --bg-color: #e7d0d6;
  --inverted-bg-color: #ce1148;
  --primary-color: #441842;
  --secondary-color: #612239;
  --inverted-primary-color: #e58c9b;
  --inverted-secondary-color: #f87aa5;

  // redesigned
  --dark-bg-redesigned: #FFF;
  --bq-redesigned: #EFF5F6;
  --light-bg-redesigned: #E2EEF1;
  --text-redesigned: #141C1F;
  --hint-redesigned: #ADBCC0;
  --cancel-redesigned: #F77;
  --save-redesigned: #62DE85;
  --icon-redesigned: #5ED3F3;
  --accent-redesigned: #00C8FF;

  // card
  --card-bg: #ee96b4;

  // listbox
  --listbox-bg: #ee96b4;
}
