:root {
  --bg-color: #e7d0d6;
  --inverted-bg-color: #ce1148;
  --primary-color: #441842;
  --secondary-color: #612239;
  --inverted-primary-color: #e58c9b;
  --inverted-secondary-color: #f87aa5;

  // card
  --card-bg: #ee96b4;

  // listbox
  --listbox-bg: #ee96b4;
}
