.ProfileCardHeader {
  display: flex;
  margin-bottom: 20px;

  .wrapperBtn {
    margin-left: auto;

    .editBtn {
      margin-left: auto;
    }

    .saveBtn {
      margin-right: 10px;
    }
  }
}




